<div id="big-box">
<% if current_user %>
    hello <%= current_user.name %> :)
    <% if current_user.admin %>
    <br/>
    Watch out, we got an admin up in here!
    <% end %>
<% else %>
    <%= link_to "log in", login_path %>
<% end %>
</div>