// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#university_id {
    width: 250px;
}

#new_review {
    text-align: center;
}

#edit_review {
    text-align: center;
}

.review_fieldset {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
}

.legend {
    font-weight: bold;
}

.field_label {
    
}

.field_entry {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
    //background-color: inherit;
    font-size: medium;
    margin-right: 10px;
    margin-left: 5px;
    padding: 2px;
}

#get_university {
    text-align: center;
    margin-top: 10px;
}

#add_university {
    margin-top: 10px;
}

#submit_review {
    font-size: medium;
    border: 1px solid #000000;
    background-color: #f0f0f0;
    margin-top: 20px;
}

#review_note_box {
    float: right;
    height: 100px;
    width: 50%;
}

#reviews_nav_bar {
    width: 100%;
    text-align: left;
}

.reviews_nav_tab {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}

#reviews_box {
    background-color: #FFFFFF;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
}

#page_links {
    overflow: auto;
}

#prev_link {
    float: left;
}

#next_link {
    float: right;
}

.review_message {
    padding: 5px;
    margin: 2px;
    border: 1px solid #0F0F0F;
}

.review_info_box {
    padding: 2px;
    margin: 5px;
}

.notes_box {
    background-color: #FFFFFF;
    color: green;
    font-family: monospace;
}

.review_admin_controls {
    float: right;
}

#review_umd_course_attributes_notes {
    height: 75px;
    width: 400px;
}