<h2>reviews</h2>
<ul>
    <% for review in @reviews %>
    <li>
        <p><%= (review.course.name || "no course") %> (<%= (review.university.name || "no university") %>)</p>
    </li>
    <% end %>
</ul>